$green: #33ff00;
$white: #fff;

// $bg: #efefef;
// $fg: #1e1e1e;
// $gray: #555;
// $light-gray: #ccc;
$shadow: #e6e6e6;
$success: rgb(90, 206, 132);
$primary: #ff585d;
$secondary: #242424;

$bg: #1e1e1e;
$fg: #efefef;
$gray: #aaa;
$shadow: #2a2a2a;
$light-gray: #444;
$gray-light-1: #bbafaf;
$gray-dark-1: #121212;

$stripe-odd: #222222;
$stripe-even: #333;
